{% extends "base.html" %}
{% block title %}Thank You{% endblock %}

{% block content %}

    <!-- start banner Area -->
    <section>
      <div class="container" >
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content col-lg-12" >
            <h1 style="height: 400px; color: #04091e;">
              Thank you
            </h1>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->
    <!-- Main Content -->


{% endblock %}